*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    border-radius: 34.56px 0px 0px 34.56px;
    background: rgba(0, 0, 0, 0.10);
    box-shadow: 1.44px -1.44px 1.44px 0px rgba(255, 255, 255, 0.15) inset, 0px 11.52px 8.64px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(18px);
}

.layout{
    border-radius: 0px 34.56px 34.56px 0px;
    background: rgba(255, 255, 255, 0.14);
    box-shadow: -1.44px 0px 5.76px 0px rgba(255, 255, 255, 0.15) inset, 0px 11.52px 8.64px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(28px);
}
.overlay{
    background-color: rgba(0, 0, 0, 0.475); /* Siyah renk ve %50 opaklık */
    width: 100%;
}

.description{
    color: rgba(255, 255, 255, 0.64);
}

@tailwind base;
@tailwind components;
@tailwind utilities;